Flask==3.0.3
pandas==2.2.2
PyJWT==2.8.0
Flask-Cors==4.0.1
firebase_admin==6.5.0
fireo==2.2.2
faiss-cpu==1.8.0.post1
huggingface-hub==0.23.4
langchain==0.2.7
langchain-community==0.2.7
langchain-core==0.2.12
langchain-huggingface==0.0.3
langchain-text-splitters==0.2.2
numpy==1.26.4
PyMuPDF==1.24.7
PyMuPDFb==1.24.6
sentence-transformers==3.0.1
tokenizers==0.19.1
torch==2.2.2
transformers==4.42.3
openai==1.35.14
google-cloud-datastore==2.19.0
langchain-google-datastore==0.2.0
more-itertools==10.3.0       