.auth {
    min-height: 100vh;
    width: 100%;
    display: flex;

    .login-left-pannel {
        width: 50%;

        .login-details {
            width: 50%;
        }


        h2 {
            color: $secondary-color;
        }

    }

    .text-input {
        transition: all 0.15s ease;
        box-shadow: $primary-color 0px 4px;

        &:hover {
            box-shadow: $black-color 0px 4px;

            .icon,
            input::placeholder {
                color: $black-color;
            }
        }


        input::placeholder {
            color: $primary-color;
        }

    }


    .icon {
        color: $primary-color;
        padding-bottom: .2rem;
        color: $black-color;
    }

    .login-right-pannel {
        width: 60%;
        background: $primary-color;
        color: $white-color;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;

        p {
            text-align: center;
        }

        .login-banner {
            width: 70%;
        }
    }

    .input-wrapper {
        margin: 0.2rem;
        padding: 0 0.5rem;

        input {
            border: none;
        }

        border-bottom: 2px solid $gray-color;

        svg {
            margin: 0.125rem;
        }

        &:focus {
            color: $primary-color;
        }
    }
}