.auth {
    min-height: 100vh;
    width: 100%;
    display: flex;

    .login-left-pannel {
        width: 50%;

        .login-details {
            width: 60%;
        }


        h2 {
            color: $secondary-color;
        }

    }

    .login-right-pannel {
        width: 60%;
        position: relative;
        z-index: 0;
        background: $primary-color;
        color: $white-color;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        overflow: hidden;

        p {
            text-align: center;
        }

        .login-banner {
            width: 70%;
        }
    }

    .login-banner-image {
        transform: scale(1.2);
        position: absolute;
        bottom: 0;
        z-index: -1;
    }

    .signup-left-pannel {
        width: 50%;

        .signup-details {
            width: 70%;
        }


        h2 {
            color: $secondary-color;
        }
    }

    .signup-right-pannel {
        width: 60%;
        position: relative;
        z-index: 0;
        background: $primary-color;
        color: $white-color;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        overflow: hidden;

        p {
            text-align: center;
        }

        .signup-banner {
            width: 70%;
        }
    }

    .signup-banner-image {
        transform: scale(1.2);
        position: absolute;
        bottom: 0;
        z-index: -1;
    }

    .input-wrapper {
        label {
            left: 2px;
        }


    }


    .icon {
        color: $primary-color;
        padding-bottom: .2rem;
        color: $black-color;
    }

    .input-wrapper {
        margin: 0.2rem;
        padding: 0 0.5rem;

        input {
            border: none;
        }

        border-bottom: 2px solid $gray-color;

        svg {
            margin: 0.125rem;
        }

        &:focus {
            color: $primary-color;
        }
    }
}