.button {
    display: inline-block;
    padding: 0.75rem 1rem;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    height: 100%;
}

.black-button {
    @extend .button;

    border: 2px solid $black-color;
    border-radius: 1rem;
    padding: 1rem;
    color: $white-color;
    background: $black-color;
    font-size: 1.5rem;

    &:hover {
        color: $black-color;
        background: $white-color;
    }
}

.blue-button {
    @extend .button;
    color: $black-color;
    border-radius: 20rem;
    background: $white-color;
    border: 2px solid $primary-color;
    padding: 1.5rem;
    width: 50%;

    &:hover {
        color: $white-color;
        background: $primary-color;
    }
}

.gold-button {
    @extend .button;
    border: 3px solid $secondary-color;
    font-size: 0.5rem;
    border-radius: 20rem;
    margin: 0.5rem;
    text-wrap: nowrap;
    height: 100%;
    background: $secondary-color;
    transition: all 0.3s ease-in-out;

    h4 {
        color: $white-color;
    }



}

.text-input {
    border: 1px solid black;
    border-radius: 1.5rem;
    padding: 0 1rem;

    &::placeholder {
        text-align: center;
    }
}

.flex-c {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-start {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.flex-end {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}


.flex-col-end {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
}

.flex-sa {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flex-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-sb-start {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.flex-col-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-col-sa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.flex-col-sb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.flex-col-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


#logo {
    cursor: pointer;
    width: 30%;
}

.box-shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.icon-circle{
    height: 60px;
    width: 60px;
    border-radius: 100%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 10px 5px 10px 5px;
 
}

.robo-img{
    position: absolute;
    top: 70px;
    right: 0;
}
