.flex-c {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-start {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.flex-end {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}


.flex-col-end {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
}

.flex-sa {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flex-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-sb-start {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.flex-col-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-col-sa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.flex-col-sb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.flex-col-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


#logo {
    cursor: pointer;
    width: 30%;
}

.box-shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.icon-circle {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 5px 5px 5px;
    z-index: 90;

}
.icon-circle:hover{
    cursor: pointer;
}


.no-display {
    display: none;
}