footer {
    background: $black-color;
    border-radius: 1.5rem 1.5rem 0 0;
    padding: 1rem 0;
    min-height: 30vh;



    nav {
        color: $white-color;
        width: 80%;
        margin: auto;

        h2 {
            border-bottom: 3px solid $secondary-color;
        }

    }

    .nav-link-wrapper {
        width: 30%;

        ul {
            margin-top: 1rem;
        }

    }

    .nav-link-wrapper-social {
        li {
            margin: 1rem;
            cursor: pointer;
        }
    }

    .copyright-text {
        border-top: 3px solid $white-color;
        color: $white-color;
    }

    li {
        padding: 0.5rem 0;
        color: $white-color;
    }

    h3 {
        border-bottom: 3px solid $secondary-color;
    }

    h5 {
        cursor: pointer;
    }

    .footer-wrapper {
        width: 95%;
        margin: 1rem auto;
    }

    @media screen and (max-width: 800px) {}

}