header {
    background: $primary-color;
    min-height: 7.5vh;

    nav {
        z-index: 1;
    }
    .header-wrapper {
        width: 95%;
        margin: auto;
        flex-wrap: wrap;

        &>div {
            flex: 1 1 40rem;
        }
        &>nav {
            flex: 1 1 40rem;
        }
    }
    .logo-wrapper {
        flex-grow: 1;
    }

    .nav-text {
        color: $white-color;
        background-clip: text;
        background-image: linear-gradient(to right,
                $secondary-color,
                $secondary-color 50%,
                $white-color 50%);
        background-size: 200% 100%;
        background-position: 100%;
        transition: all 0.3s ease-in-out;

        h4 {
            color: transparent;
        }

        &:hover {
            background-position: 0;
        }

    }

    .nav-link-wrapper {
        width: 100%;
    }

    .auth-control {
        display: flex;
    }


    @media screen and (max-width: 800px) {
        .logo-wrapper {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;

            #logo {
                width: 40%;
            }
        }

    }

}