header {
    background: $primary-color;
    min-height: 5vh;

    nav {
        z-index: 1;
    }

    .header-wrapper {
        width: 95%;
        margin: auto;
        flex-wrap: wrap;

        &>div {
            flex: 1 1 40rem;
        }

        &>nav {
            flex: 1 1 40rem;
        }
    }

    .logo-wrapper {
        flex-grow: 1;
    }

    .nav-text {
        color: $white-color;
        background-clip: text;
        background-image: linear-gradient(to right,
                $secondary-color,
                $secondary-color 50%,
                $white-color 50%);
        background-size: 200% 100%;
        background-position: 100%;
        transition: all 0.3s ease-in-out;

        h4 {
            color: transparent;
        }

        &:hover {
            background-position: 0;
        }

    }

    .nav-link-wrapper {
        width: 100%;
    }

    .auth-control {
        display: flex;
    }

    .profile-icon {
        border-radius: 100%;
        background: $white-color;
    }

    .logged-in-header {
        display: flex;
        align-items: center;
        position: relative;

        svg {
            cursor: pointer;
        }

        div {
            width: 46px;
            height: 46px;
            margin: 1rem;
        }

        .notification-bell {
            color: $white-color;
        }
    }

    .dropdown-wrapper {
        position: absolute;
        top: 100%;
        left: 10%;
        width: 100%;
        border-radius: 1.5rem;
        background: $white-color;
        padding: 0.5rem 0;
        z-index: 2;

        li {
            padding: 0.5rem;
            text-align: center;

            h4 {
                cursor: pointer;
            }
        }
    }

    // .dark & {
    //     background: $black-color; 
    //     .nav-text {
    //       color: $white-color; 
    //     }
    //   }

    @media screen and (max-width: 800px) {
        .logo-wrapper {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;

            #logo {
                width: 40%;
            }
        }

    }

}