.sidebar{
    // border: 1px solid gray;
    width: 250px;
    min-height: 100vh;
    height: auto;
    // padding: 80px 15px 80px 15px;
    margin: 80px 0 0 0;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
