


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;  
  } 
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  .modal-open {
    overflow: hidden;
  
    & > *:not(.modal):not(.modal-overlay) {
      filter: blur(5px);
      pointer-events: none;
    }
  }
  .edit-profile-modal .input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .edit-profile-modal .submit-button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .edit-profile-modal .submit-button:hover {
    background: $primary-color;
  }

  .underline {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 4px;
    background-color: $secondary-color;
    transition: width 0.3s ease-in-out;
  }
  
  .active .underline {
    width: 100%;
  }
  
  .visible {
    width: 100%;
  }

  // articlecard css
  .line-clamp-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 4.5rem; 
    line-height: 1.5;
  }

  .truncate-badges {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .placeholder-hidden {
    visibility: hidden;
  }

  // icons 
  .icon-theme{
    color: $primary-color;
    cursor: pointer;
    font-size: 25px;
  }
  
 
  