
:root {
  --color-bg: #ffffff;
  --color-text: #343232;
  --color-primary: #0A6CF5; 
  --color-secondary: #F5A711; 
  --color-accent: #B5D2FC; 
  --color-dark-gray: #6C6C6C;
  --color-light-gray: #BBBBBB;
  
}

.q_progress_block {
  background: $white-color;
  width: 44px;
  height: 6px;
  border-radius: 12px;
  margin: 0 4px 0 4px;
}

.q_progress_block.completed {
  background: $secondary-color;
}

.curve-text {
  font-size: 24px;
  fill: #000;
  font-family: Arial, sans-serif;
}

.svg-container {
  display: block;
  margin: 20px auto;
  max-width: 400px;
}

.top-place-box {
  width: 15rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.top-place {
  border-radius: 100%;
  top: 0;
  border: 2px solid $primary-color;
  height: 16rem;
  width: 16rem;


}

.top-place-dark {
  border-radius: 100%;
  top: 0;
  border: 2px solid $white-color;
  height: 16rem;
  width: 16rem;
}

.top-place img,
.top-place-dark img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  border-radius: 100%;
}

.first {
  height: 19rem;
  width: 19rem;
}


.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, $primary-color 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 60px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.subject-cards {
  height: 120px;
  width: 150px;
  box-shadow: rgba(10, 108, 245, 0.16) 0px 1px 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  overflow: hidden;
  // border: 1px solid $primary-color;
  border-radius: 20px;
}

.subject-cards img {
  height: 80px;
  width: 150px;
  object-fit: contain;
}

.text-3d {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #343232;
  text-shadow:
    1px 1px 0 #e5e5e5,
    2px 2px 0 #c0c0c0,
    3px 3px 0 #ccc,
    4px 4px 0 #ccc,
    5px 5px 0 #ccc,
    6px 6px 0 #ccc;
}

.table-main {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100%;
}

.thead-main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: $primary-color;
  color: $white-color;
  text-align: center;
  border-radius: 20px;
  margin: 5px;
  min-height: 45px;
}

.history-table{
  grid-template-columns: 1fr 1fr 1fr;
}
// .th-main {


// }

.tbody-main {
  display: grid;
  grid-template-columns: 1fr;
}

.tr-main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  border: 1px solid $primary-color;
  text-align: left;
  border-radius: 20px;
  margin: 5px;

}

.td-main {
  padding: 0px 40px 0px 40px;
  min-height: 45px;
  line-height: 45px;
}



.rank-circle {
  height: 3rem;
  width: 3rem;
  background-color: $secondary-color;
  color: $black-color;
  padding: 5px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.subject-circles {
  height: 80px;
  width: 80px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  overflow: hidden;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 100px;
  background-color: $white-color;
}

.subject-circles img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.popup-container {
  // position: fixed;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  height: 90vh;
}

@mixin popup-box-styles {
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, $primary-color 100%);
  border: 2px solid $secondary-color;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s, transform 0.5s;
}

.popup-box {
  @include popup-box-styles;
  height: 250px;
  width: 500px;
}

// Another popup box with different dimensions
.popup-box-large {
  @include popup-box-styles;
  height: 500px;
  width: 400px;
  flex-direction: column;
  padding-bottom: 50px;
}

.popup-box-large.visible,
.popup-box.visible {
  opacity: 1;
  transform: scale(1);
}

.popup-box-large.hidden,
.popup-box.hidden {
  display: none;
}

@keyframes popIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-pop-in {
  animation: popIn 1s ease-out;
}

@keyframes fadeMove {
  0% {
    opacity: 0;
    transform: translateY(0) translateX(0);
  }

  50% {
    opacity: 0.5;
    transform: translateY(-50px) translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(-500px) translateX(300px);
  }
}

.animated-icon {
  animation: fadeMove 2s ease-in infinite;
}

.congrats-img {
  width: 155%;
  position: absolute;
  top: -90px
}

.bagde-wrapper {
  width: 50%;
  z-index: 1200;

}

.profile-card {
  margin: 1rem;
  width: 170px;
  height: 100px;
  padding: 5px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  overflow: hidden;
}

.profile-thumbnail {
    text-align: right;
}

.prof-img{
  height: 45px;
  width: 45px;
  overflow: hidden;
}

.quiz-button{
  background-color: var();
}