.subject-catalog {
    min-height: 85vh;
    margin: 2rem auto;
    margin-bottom: 0;
    position: relative;
    overflow: hidden;

    .catalog-ul {
        padding: 2rem 0 0 0;
        position: relative;
        max-height: 80vh;
        overflow-y: scroll;
        scrollbar-width: thin;
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
        z-index: 0;
    }

    .catalog-img {
        position: absolute;
        z-index: 0;
        top: -20%;
        pointer-events: none;
    }

}